

%post-it{
    width: 40rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 300px, 300px 100%, 0% 100%);
    transition: 2s all;
    transform-origin: top left;
    flex-shrink: 0;
}

%div-post-it{
    width: 10rem;
    height: 10rem;
    position: absolute;
    bottom: 0;
    right: 0;
}