@use 'colors';
@use 'components';

.post-it{
    @extend %post-it;
    &:hover{
        transform: rotate(15deg);
        transition: 0.5s all;
    }
}


.groen{
    background: colors.$groen;
}
.geel{
    background: colors.$geel;
}
.rood{
    background: colors.$rood;
}

.groen > div, .geel > div, .rood > div{
    @extend %div-post-it;
}

.groen > div{
    background: colors.$groen-div;
}
.geel > div{
    background: colors.$geel-div;
}
.rood > div{
    background: colors.$rood-div;
}

.tekst{
    font-size: 190%;
    font-weight: 400;
}